@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import url('https://fonts.cdnfonts.com/css/neue-zier-schrift');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --text_white: #1a1110;
  --bg_main: #101027;
  --text_light: #fff;
  --text_med: #53627c;
  --text_dark: #1e2432;
  --red: #ff1e42;
  --darkred: #530606;
  --orange: #2c839e;
}

body {
  margin: 0;
  background-image: url("images/Continents.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div {
  display: block;
  text-align: center;
  padding-top: 10px;
  font-family: "Tangerine";
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.02em;
  color: var(--text_dark);
}
label {
  cursor: pointer;
  color: var(--text_white);
  display: block;
  padding: 0px;
  margin: 3px;
  font-size: 40px;
}



.help {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}

.help > div {
  background-color: #2196f3;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.lost {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  background-color: #ff0000;
  padding: 10px;
}

.lost > div {
  background-color: #ff0000;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.page-footer {
  text-align: left;
  font-size: 14px;
  color: white;
  margin-top: 400px;
  width: 800px;
  position: absolute;
  right: 0px;
}

.logo {
  /*background-color: var(--bg_main);*/
  font-family: "Tangerine", cursive;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;
}

.header {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  text-align: center;
}

.column {
  padding: 16px;
  height: 250px;
  margin: 5px;
  background-color: #cccccc;
}

.addToRoundButtons {
  justify-content: center;
}

table {
  width: 100%;
}

td {
  text-align: center;
}

th {
  text-align: center;
}

input[type="text"]{
  border: 2px solid #8B4513; /* A dark brown border */
  font-family: 'Times New Roman', serif; /* A classic font style */
  background-color: #FAEBD7; /* Light parchment color */
  margin: 10px 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s;
  width: 30%;
  padding: 5px 20px;
  color: var(--text_dark);
  font-family: "Garamond";
  font-size: 24px;
  letter-spacing: 0.02em;
}

textarea {
  border: 2px solid #8B4513; /* A dark brown border */
  font-family: 'Times New Roman', serif; /* A classic font style */
  background-color: #FAEBD7; /* Light parchment color */
  color: #000000; /* Dark text color */
  padding: 10px;
  margin: 5px 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s;
  width: 100%;
  max-width: 50rem;
  height: 10rem;
  color: var(--text_dark);
  font-family: "Garamond";
  font-size: 24px;
  letter-spacing: 0.02em;
}

input[type="text"]:focus{
  border-color: #A0522D; /* A slightly darker border on focus */
}

textarea:focus {
  border-color: #A0522D; /* A slightly darker border on focus */
}
.button-fairytale {
  background-color: #7b4397; /* deep purple */
  border: none;
  color: white;
  padding: 20px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Tangerine';
  font-size: 35px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all 0.3s;
  line-height: 1.2;
  box-sizing: border-box;
  min-width: 23rem;
}

.button-fairytale:hover {
  background-color: #6a2c70; /* slightly darker purple */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  transform: scale(1.05);
}

.story-text-container {
  width: 75%;
  margin: auto; /* Centers the div */
}

.story-text-container p {
  font-size: 32px; /* Increase font size as needed */
  line-height: 2; /* Increase line spacing as needed */
}

.text-area-story {
  width: 70%;
  text-align: center;
  display: flex;
    flex-direction: column;
    align-items: center;
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  /* height: 100vh; Adjust as needed */
}

.nav-and-text {
  display: flex;
  align-items: center; /* Aligns text and buttons vertically */
}


.nav-button {
  margin: 0 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px; /* Adjust size as needed */
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-3px);
  }

  &:disabled {
    color: #808080; /* A darker shade of gray for better visibility */
    cursor: not-allowed; /* Optional: shows a different cursor to indicate the button is disabled */
  }
}

.initial-letter {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Tangerine', sans-serif;  font-size: 80px;
  line-height: 0;
  color: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  display: inline;
}

.story-text-div-visible {
  font-size: 45px;
  line-height: 1.6;
}

.hidden {
  display: none;
}

.App-icon {
  height: 10vmin; /* Adjust this value as needed */
  padding-left: 0.4vmin;
  /* Additional styling */
}

.header-content {
  display: flex;
  align-items: center; /* Align vertically */
  justify-content: center; /* Center content horizontally */
}

.fairytale-form-note {
  font-size: 35px
}

.image-container img{
  max-height: 50vh; /* Maximum height is 100% of the viewport height */
  max-width: 100vw; /* Maximum width is 100% of the viewport width */
  object-fit: contain; /* Resize the image to fit while maintaining aspect ratio */
  overflow: hidden; /* Adds scrollbar if the image overflows */
}
